<div class="row center-align">
    <h3 class="card-panel white-text z-depth-2 wedding-purple" id="fittext">Wedding Planner</h3>
    <partial name="RegPartial"></partial>
    <partial name="LogPartial"></partial>
</div>
<div class="row center-align">
    <h5>Invite others to celebrate with you.</h5>
    <h5>Keep your guests updated on your wedding's details.</h5>
</div>
<div class="banner-one section card-panel z-depth-4 hide-on-small-only" alt="Banner"></div>